* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media print {
  * {
    -webkit-print-color-adjust: exact;
  }
}
@page {
  width: landscape;
  height: landscape;
  margin: 0;
}
article {
  -webkit-transition: background 0.6s linear;
  -moz-transition: background 0.6s linear;
  -o-transition: background 0.6s linear;
  -ms-transition: background 0.6s linear;
  transition: background 0.6s linear;
  display: none;
}
article.bespoke-parent {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  -webkit-perspective: 1366px;
  -moz-perspective: 1366px;
  -ms-perspective: 1366px;
  perspective: 1366px;
}
@media print {
  article.bespoke-parent {
    overflow: visible;
    position: static;
  }
}
.bespoke-slide {
  -webkit-transition: -webkit-transform 0.6s linear, opacity 0.6s linear, background 0.6s linear;
  -moz-transition: -moz-transform 0.6s linear, opacity 0.6s linear, background 0.6s linear;
  -o-transition: -o-transform 0.6s linear, opacity 0.6s linear, background 0.6s linear;
  -ms-transition: -ms-transform 0.6s linear, opacity 0.6s linear, background 0.6s linear;
  transition: transform 0.6s linear, opacity 0.6s linear, background 0.6s linear;
  -webkit-transform-origin: 0% 100% 0;
  -moz-transform-origin: 0% 100% 0;
  -o-transform-origin: 0% 100% 0;
  -ms-transform-origin: 0% 100% 0;
  transform-origin: 0% 100% 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -webkit-flex;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../image/background.jpg");
  padding: 40px;
  -webkit-border-radius: 0;
  border-radius: 0;
}
@media print {
  .bespoke-slide {
    zoom: 1 !important;
    height: 743px;
    width: 100%;
    page-break-before: always;
    position: static;
    margin: 0;
  }
}
.bespoke-before {
  -webkit-transform: translate3d(50px, 0px, -100px);
  -moz-transform: translate3d(50px, 0px, -100px);
  -o-transform: translate3d(50px, 0px, -100px);
  -ms-transform: translate3d(50px, 0px, -100px);
  transform: translate3d(50px, 0px, -100px);
}
.bespoke-after {
  -webkit-transform: translate3d(50px, 0, -100px);
  -moz-transform: translate3d(50px, 0, -100px);
  -o-transform: translate3d(50px, 0, -100px);
  -ms-transform: translate3d(50px, 0, -100px);
  transform: translate3d(50px, 0, -100px);
}
@media print {
  .bespoke-after {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.bespoke-inactive {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  pointer-events: none;
}
@media print {
  .bespoke-inactive {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
.bespoke-active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.bespoke-bullet {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.bespoke-bullet-inactive {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
li.bespoke-bullet-inactive {
  -webkit-transform: translateX(16px);
  -moz-transform: translateX(16px);
  -o-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
@media print {
  .bespoke-bullet-inactive {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
.bespoke-bullet-active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.bespoke-scale-parent {
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  perspective: 600px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media print {
  .bespoke-scale-parent {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -o-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
  }
}
.bespoke-progress-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
}
@media only screen and (min-width: 1366px) {
  .bespoke-progress-parent {
    height: 4px;
  }
}
@media print {
  .bespoke-progress-parent {
    display: none;
  }
}
.bespoke-progress-bar {
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  -ms-transition: width 0.6s ease;
  transition: width 0.6s ease;
  position: absolute;
  height: 100%;
  background: #0ff;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.emphatic,
.emphatic .bespoke-slide {
  background: url("../image/background.jpg");
}
pre {
  padding: 26px !important;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
body {
  font-family: helvetica, arial, sans-serif;
  font-size: 18px;
  color: #404040;
}
h1 {
  font-size: 72px;
  line-height: 82px;
  letter-spacing: -2px;
  margin-bottom: 16px;
}
h2 {
  font-size: 42px;
  letter-spacing: -1px;
  margin-bottom: 8px;
}
h3 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 24px;
  color: #606060;
}
hr {
  visibility: hidden;
  height: 20px;
}
ul {
  list-style: none;
}
li {
  margin-bottom: 12px;
}
p {
  margin: 0 100px 12px;
  line-height: 22px;
}
a {
  color: #0089f3;
  text-decoration: none;
}
b {
  float: left;
}
b img {
  position: absolute;
  top: 0px;
  left: 100px;
  width: 400px;
  height: 500px;
}
b box {
  right: 75px;
  top: 50px;
  position: absolute;
  width: 650px;
  height: 500px;
  background-color: #ee1b2e;
}
b box p {
  font-size: 15pt;
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
  color: #fff;
  font-family: Myriad Pro;
  font-weight: 300;
}
b box hr {
  visibility: visible;
  height: 3px;
  width: 300px;
  margin-left: 50px;
  background-color: #fff;
}
b box h2 {
  margin-top: 30px;
  margin-left: 50px;
  text-align: left;
  color: #fff;
  font-family: Myriad Pro;
}
footer img {
  position: absolute;
  bottom: 10px;
  right: 0px;
}
footer p {
  position: absolute;
  left: 25px;
  bottom: 25px;
  color: #fff;
  font-family: Myriad Pro;
  font-size: 25pt;
  font-weight: bold;
}
footer te {
  position: absolute;
  left: 190px;
  bottom: 40px;
  font-family: Myriad Pro;
  font-size: 16pt;
  color: #808080;
}
history img {
  position: absolute;
  top: 0;
  left: 100px;
}
history box {
  width: 900px;
  right: 75px;
  top: 50px;
  position: absolute;
  height: 500px;
  background-color: #ee1b2e;
}
history box p {
  font-size: 15pt;
  line-height: 16pt;
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
  color: #fff;
  font-family: Myriad Pro;
  font-weight: 300;
}
history box hr {
  visibility: visible;
  height: 3px;
  width: 500px;
  margin-left: 50px;
  background-color: #fff;
}
history box h2 {
  margin-top: 30px;
  margin-left: 50px;
  text-align: left;
  color: #fff;
  font-family: Myriad Pro;
}
center img {
  width: 1000px;
}
ai img {
  position: absolute;
  top: 0;
  left: 100px;
}
ai box {
  position: absolute;
  top: 30px;
  right: 0;
  width: 1000px;
  height: 550px;
  background-repeat: no-repeat;
  background-image: url("/image/6.png");
}
ai box h2 {
  margin-top: 30px;
  margin-left: 50px;
  color: #fff;
  text-align: left;
}
ai box p {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 550px;
  text-align: justify;
  color: #fff;
}
ai box hr {
  visibility: visible;
  height: 3px;
  width: 400px;
  margin-top: 20px;
  margin-left: 50px;
  background-color: #fff;
}
ps img {
  position: absolute;
  top: 0;
  left: 100px;
}
ps box {
  position: absolute;
  top: 30px;
  right: 0;
  width: 1000px;
  height: 550px;
  background-repeat: no-repeat;
  background-image: url("/image/4.png");
}
ps box h2 {
  margin-top: 30px;
  margin-left: 50px;
  color: #fff;
  text-align: left;
}
ps box p {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 550px;
  text-align: justify;
  color: #fff;
}
ps box hr {
  visibility: visible;
  height: 3px;
  width: 400px;
  margin-top: 20px;
  margin-left: 50px;
  background-color: #fff;
}
id img {
  position: absolute;
  top: 0;
  left: 100px;
}
id box {
  position: absolute;
  top: 30px;
  right: 0;
  width: 1000px;
  height: 550px;
  background-repeat: no-repeat;
  background-image: url("/image/8.png");
}
id box h2 {
  margin-top: 30px;
  margin-left: 50px;
  color: #fff;
  text-align: left;
}
id box p {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 550px;
  text-align: justify;
  color: #fff;
}
id box hr {
  visibility: visible;
  height: 3px;
  width: 400px;
  margin-top: 20px;
  margin-left: 50px;
  background-color: #fff;
}
dw img {
  position: absolute;
  top: 0;
  left: 100px;
}
dw box {
  position: absolute;
  top: 30px;
  right: 0;
  width: 1000px;
  height: 550px;
  background-repeat: no-repeat;
  background-image: url("/image/10.png");
}
dw box h2 {
  margin-top: 30px;
  margin-left: 50px;
  color: #fff;
  text-align: left;
}
dw box p {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 550px;
  text-align: justify;
  color: #fff;
  font-size: 13pt;
}
dw box hr {
  visibility: visible;
  height: 3px;
  width: 400px;
  margin-top: 10px;
  margin-left: 50px;
  background-color: #fff;
}
fl img {
  position: absolute;
  top: 0;
  left: 100px;
}
fl box {
  position: absolute;
  top: 30px;
  right: 0;
  width: 1000px;
  height: 550px;
  background-repeat: no-repeat;
  background-image: url("/image/12.png");
}
fl box h2 {
  margin-top: 35px;
  margin-left: 50px;
  color: #fff;
  text-align: left;
}
fl box p {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 570px;
  text-align: justify;
  color: #fff;
  font-size: 13pt;
}
fl box hr {
  visibility: visible;
  height: 3px;
  width: 400px;
  margin-top: 7px;
  margin-left: 50px;
  background-color: #fff;
}
aiex img {
  position: absolute;
  top: 120px;
  right: 200px;
}
aiex h2 {
  position: absolute;
  top: 50px;
  right: 300px;
}
psex img {
  position: absolute;
  top: 120px;
  right: 200px;
}
psex h2 {
  position: absolute;
  top: 50px;
  right: 300px;
}
idex img {
  position: absolute;
  top: 120px;
  right: 200px;
}
idex h2 {
  position: absolute;
  top: 50px;
  right: 300px;
}
dwex img {
  position: absolute;
  top: 120px;
  right: 300px;
}
dwex h2 {
  position: absolute;
  top: 50px;
  right: 300px;
}
flex img {
  position: absolute;
  top: 120px;
  right: 200px;
}
flex h2 {
  position: absolute;
  top: 50px;
  right: 300px;
}
cloudc img {
  position: absolute;
  top: 40px;
  right: 100px;
}
howcc img {
  position: absolute;
  top: 70px;
  right: 200px;
}
